# dependencies
/node_modules
/.pnp
.pnp.js

#compiled CSS from less file
src/css/antd-dark-mode.css
src/css/antd-light-mode.css

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.vercel
